@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-9ce35ec726fefdf1e8421febc4b40295.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-c073f6bab23f555f71f6704550f3d19d.woff) format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-0af00282baff7b975c03826f6c534fe3.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-8e6eaeb7e4ff5a66016faeb7af0865ce.woff) format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-61360764f657d6e1d781e003ea9f1c44.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-1aa79171f69831ecbd1b3c7267442ba0.woff) format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-0ec111e46cb41f56b6fbdc8890ae5ffd.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-bfe34d0b1549bfecb1aa16159e96c3de.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-9397f05ced691b6d038d18eefe496cf3.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-f1965b150935cf78c890525d54d70d54.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-7b128dfe795f81498d2282c539a13e3f.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-6829548aaa47e8bc6cc60a4a3d50c8f6.woff) format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-a835235ddfffad44b3232862a044e9f8.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-98ba3d30982ffb6b5ed517983166319a.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-87778680974034d9a8b8bb64a16edbd2.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-7b5ca071b175d5904025bd3fd95e048c.woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SF%20Pro%20Display-97f87d378779a92a209e7c4e45cbecef.woff2) format('woff2'),
	url(../../assets/fonts/SF%20Pro%20Display-19759d8c7ec8d26898ec5a05bb1be17d.woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}